<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<table class="table table-striped table-dark">
    <thead>
        <tr>
          <th scope="col">Price</th>
          <th scope="col">Size</th>
          <th scope="col">Number of liquidated orders</th>
        </tr>
    </thead>
    {% block content %}
    {% endblock %}
</table>
</body>
</html>